---
import { Image } from "astro:assets";
import ButtonWhatsapp from "./ButtonWhatsapp.astro";
interface Props {
  image: string;
  name: string;
  address: string;
  schedule: string;
  phone: string;
  link: string;
}

const { image, name, address, schedule, phone, link } = Astro.props;
---

<div
  class="group bg-white rounded-2xl shadow-lg overflow-hidden transform hover:scale-105 transition duration-300 ease-in-out"
  tabindex="0"
>
  <Image
    src={image}
    alt={`Imagen de sucursal ${name} san otilio`}
    width="400"
    height="350"
    class="w-full h-56 object-coverd"
  />
  <div class="p-6">
    <h3 class="text-xl font-bold text-gray-800 mb-2">{name}</h3>
    <p class="text-gray-600 mb-1">
      <span class="material-icons text-amber-500 text-5xl tilt-hover"> location_on </span>
      {address}
    </p>
    <p class="text-gray-600 mb-1">
      <span class="material-icons text-amber-500 text-5xl tilt-hover"
        >access_time_filled</span
      >
      {schedule}
    </p>
    <p class="text-gray-600 mb-4">
      <span class="material-icons text-amber-500 text-5xl tilt-hover"> call </span>
      <a href={`tel:${phone}`} class="hover:underline">{phone}</a>
    </p>
    <a
      href={link}
      target="_blank"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-2 rounded inline-flex items-center"
    >
      Ver ubicación
      <span class="material-icons ml-2 text-5xl"> map </span>
    </a>
    <ButtonWhatsapp class="group-hover:animate-bounce group-focus-within:animate-bounce" animate={false} />
  </div>
</div>
